In [1]:
import pandas as pd
import re
import string

In [2]:
df = pd.read_csv("sentiment_analysis_nepali_final.csv")

In [3]:
df.head(5)

   Unnamed: 0                                          Sentences  Sentiment
0           0  म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...          1
1           1  म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...          1
2           2  कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...          1
3           3  मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...          1
4           4  यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...          1

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'Sentences', 'Sentiment'], dtype='object')

In [5]:
data=df.drop(['Unnamed: 0'],axis=1,inplace=False)
data.head(4)

                                           Sentences  Sentiment
0  म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...          1
1  म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...          1
2  कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...          1
3  मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...          1

In [6]:
suffle_data =data.sample(frac=1)
suffle_data.head(10)

                                               Sentences  Sentiment
4622   जोशीले घरदैलो कोभिड सूचना तथा सेवा अभियान जारी...          1
5563   देश तथा विदेशमा रहनुभएका अाफन्तजन साथीभाइ तथा ...          1
11405  प्लाज्मा थेरापी कोभिड उपचारमा कति सफल अध्ययन भ...          1
8725   कोभिड को संक्रमणबाट मृत्यु भएका मानिसको शव व्य...          0
20746  कोभिड बाट ज्यान गुमाउने नेपालकाे यहि नै पहिलो ...          1
15949  कोभिड को सम्पूर्ण खर्च जाबो वेवसाइटमा दिनदिनै ...         -1
9919   चितवनमा आइतबार कोभिड को संक्रमणबाट थप एक जनाको...         -1
22913  कोरोना भाइरस कोभिड को डरले के हाम्रो मनोविज्ञा...         -1
21844  हामीलाई कोभिड ले एउटा अवसर यहाँनेर दिन्छ भारती...          1
33726  कोरोना भाइरस कोभिड को विश्वव्यापी संक्रमण फैलि...         -1

In [7]:
suffle_data.reset_index(inplace=True)
suffle_data.head()

   index                                          Sentences  Sentiment
0   4622  जोशीले घरदैलो कोभिड सूचना तथा सेवा अभियान जारी...          1
1   5563  देश तथा विदेशमा रहनुभएका अाफन्तजन साथीभाइ तथा ...          1
2  11405  प्लाज्मा थेरापी कोभिड उपचारमा कति सफल अध्ययन भ...          1
3   8725  कोभिड को संक्रमणबाट मृत्यु भएका मानिसको शव व्य...          0
4  20746  कोभिड बाट ज्यान गुमाउने नेपालकाे यहि नै पहिलो ...          1

In [8]:
suffle_data.isnull().sum()

index        0
Sentences    0
Sentiment    0
dtype: int64

In [9]:
def wordopt(Sentences):
    
    
    # Title = Title.lower()
    Sentences = re.sub(r'[\[\]]', '', Sentences)  # Remove square brackets
    Sentences= re.sub(r'https?://\S+|www\.\S+', '', Sentences)  # Remove URLs
    Sentences = re.sub(r'<.*?>', '', Sentences)  # Remove HTML tags
    Sentences = re.sub(f'[{re.escape(string.punctuation)}]', '', Sentences)  # Remove punctuation
    Sentences = re.sub(r'\n', '', Sentences)  # Remove newlines
    Sentences = re.sub(r'\w*\d\w*', '', Sentences)  # Remove words with digits
    Sentences = re.sub(r'\b[a-zA-Z]+\b', '', Sentences)  # This removes English words    
    return Sentences

In [10]:
data['cleandata']= data['Sentences'].apply (wordopt)
data.head(5)

,Sentences,Sentiment,cleandata
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...

In [11]:
data.head(5)

,Sentences,Sentiment,cleandata
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...

In [12]:
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')  # Download tokenizer data

def tokenize_text(text):
    tokens = word_tokenize(text)
    return tokens

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
data.head(5)

,Sentences,Sentiment,cleandata
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...

In [14]:
data.columns

Index(['Sentences', 'Sentiment', 'cleandata'], dtype='object')

In [15]:
import pandas as pd
import nltk
nltk.download('punkt_tab', quiet=True)  # quiet=True avoids the popup

from nltk.tokenize import word_tokenize

data['lose'] = data['cleandata'].apply(word_tokenize)
data.head()

,Sentences,Sentiment,cleandata,lose
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...,"[म, एक, शिक्षक, शिक्षा, क्षेत्रमा, रमाएको, मान..."
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...,"[म, सरकारी, स्कूलकलेजमा, पढेर, करीब, बर्ष, भन्..."
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,"[कति, राम्रो, शिव, मन्दिर, देख्न, पाइयो, कुन, ..."
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,"[मारुनी, भन्ने, वितिकै, सामान्य, नाचनीमा, आधार..."
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,"[यो, फ्लिम, हेरिसकेपछी, थाहा, भयो, कि, किन, दर..."

# Checking Null value

In [21]:
suffle_data.isnull().sum()

index        0
Sentences    0
Sentiment    0
dtype: int64

In [22]:
data.head()

,Sentences,Sentiment,cleandata,lose
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...,"[म, एक, शिक्षक, शिक्षा, क्षेत्रमा, रमाएको, मान..."
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...,"[म, सरकारी, स्कूलकलेजमा, पढेर, करीब, बर्ष, भन्..."
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,"[कति, राम्रो, शिव, मन्दिर, देख्न, पाइयो, कुन, ..."
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,"[मारुनी, भन्ने, वितिकै, सामान्य, नाचनीमा, आधार..."
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,"[यो, फ्लिम, हेरिसकेपछी, थाहा, भयो, कि, किन, दर..."

In [23]:
def wordopt(Title):
    
    
    # Title = Title.lower()
    Title = re.sub(r'[\[\]]', '', Title)  # Remove square brackets
    Title = re.sub(r'https?://\S+|www\.\S+', '', Title)  # Remove URLs
    Titel = re.sub(r'<.*?>', '', Title)  # Remove HTML tags
    Title = re.sub(f'[{re.escape(string.punctuation)}]', '', Title)  # Remove punctuation
    Title = re.sub(r'\n', '', Title)  # Remove newlines
    Title = re.sub(r'\w*\d\w*', '', Title)  # Remove words with digits
    Title = re.sub(r'\b[a-zA-Z]+\b', '', Title)  # This removes English words    
    return Title

In [25]:
data.head(10)

,Sentences,Sentiment,cleandata,lose
0,"म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...",1,म एक शिक्षक शिक्षा क्षेत्रमा रमाएको मान्छे । ...,"[म, एक, शिक्षक, शिक्षा, क्षेत्रमा, रमाएको, मान..."
1,म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...,1,म सरकारी स्कूलकलेजमा पढेर करीब बर्ष भन्दा बढी...,"[म, सरकारी, स्कूलकलेजमा, पढेर, करीब, बर्ष, भन्..."
2,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,1,कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...,"[कति, राम्रो, शिव, मन्दिर, देख्न, पाइयो, कुन, ..."
3,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,1,मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...,"[मारुनी, भन्ने, वितिकै, सामान्य, नाचनीमा, आधार..."
4,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,1,यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...,"[यो, फ्लिम, हेरिसकेपछी, थाहा, भयो, कि, किन, दर..."
5,उपनियाशमा चलचित्र बनाउदा सबैको बुचार गरेर बनाक...,-1,उपनियाशमा चलचित्र बनाउदा सबैको बुचार गरेर बनाक...,"[उपनियाशमा, चलचित्र, बनाउदा, सबैको, बुचार, गरे..."
6,नेपालमा बनेको अहिले सम्मको सबै भन्दा खाते फिल...,-1,नेपालमा बनेको अहिले सम्मको सबै भन्दा खाते फिल...,"[नेपालमा, बनेको, अहिले, सम्मको, सबै, भन्दा, खा..."
7,"कठै बिचारा कस्तो निर्देशक कस्ता कलाकार, इतिहास...",-1,कठै बिचारा कस्तो निर्देशक कस्ता कलाकार इतिहास ...,"[कठै, बिचारा, कस्तो, निर्देशक, कस्ता, कलाकार, ..."
8,यो फिल्मले मन छोयो एकदमै राम्रो छ,1,यो फिल्मले मन छोयो एकदमै राम्रो छ,"[यो, फिल्मले, मन, छोयो, एकदमै, राम्रो, छ]"
9,राम्रो छ फिल्म। यत्तीको फिल्म नेपालमा आउनु नै ...,1,राम्रो छ फिल्म। यत्तीको फिल्म नेपालमा आउनु नै ...,"[राम्रो, छ, फिल्म।, यत्तीको, फिल्म, नेपालमा, आ..."